@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

.card {
  display: inline-table;
  background-color:
  width: 100%;
  float: left;
  color: white;
  font-family: 'Nunito', sans-serif;


}
.card > * {
  display: inline-block;
}
.cover {
  width: 25%;
}
.cover img {
  width: 25%;
}

.songInfo > * {
  display: inline-block;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}

.votes > * {
  display: inline-block;
  position: relative;
  transform: translateY(-50%);
  top: 50%;
}
