@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

.card {
  display: inline-table;
  border: 2px solid black;
  width: 100%;
  float: left;
  color: white;
}
.card > * {
  display: inline-block;
}
.cover {
  width: 25%;
}
.cover img {
  width: 25%;
}

.songInfo:first-child{
  font-size: 3em;

}

.songInfo > * {
  display: inline-block;
  font-family: 'Nunito', sans-serif;
}

.votes p{

}
