@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
* {
  color: white;
  font-family: 'Nunito', sans-serif;
}

input {
  font-size: 6vw;
  background-color: #282828;
  border-radius: 5px;
  border: 2px solid #808080;
  color:white;
  padding: .5em;
  font-family: 'Nunito', sans-serif;
  width: 70%;
  margin-top:.5em;
  margin-bottom: .5em;
}

.title {
  color:white;
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  margin-bottom: .5em;
}

.qrCode {
  transform: translateY(10%);
  margin-top: 2em;
}

.qrCode .qrImg {
  background-color: #282828;
  padding:1.8em;
  width: 60%;

}

.qrCode p {
  font-size: 7vw;
}

.roomIdName {
  font-size: 7vw;
  font-weight: bold;
}

.containLogo {
  transform: translateY(30%);
  height: 100%;
}
