@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
* {
  color: white;
  font-family: 'Nunito', sans-serif;
}

input {
  font-size: 2em;
  background-color: #282828;
  border-radius: 5px;
  border: 2px solid white;
  color:white;
  padding: .5em;
  font-family: 'Nunito', sans-serif;
  width: 70%;
  margin-top:.5em;
}

.title {
  color:white;
  font-size: 2em;
  font-family: 'Nunito', sans-serif;
  margin-bottom: .5em;
}

.qrCode {
  display: flex;
  flex-direction:column;
  align-content: center;
  margin-top: 2em;
}

.qrCode img {
  background-color: #282828;
  padding:2em;
  width: 70%;

}

.qrCode p {
  font-size: 2em;
}

.roomIdName {
  font-size: 2em;
  font-weight: bold;
}
