@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
.logoHeader {
  font-size: 10vh;
  display: inline-flex;
  font-family:Nunito;
  color: white;


}
.logoHeader img{
  height: inherit;
}
