.roomHeader h1 {
  font-size: 1.1em;
  text-align: left;
  margin-left: .75em;
  margin: 1em;
}

.roomHeader {
  width: 100%;
}

.roomHeader input {
  font-size: 1.2em;
}

.roomTitle {
  font-size: 2em;
  align-content: center;
  font-weight: bold;
  margin-top:.5em;
}
